body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
h3{
    text-align: center;
}
.main-content{
    margin-top: 100px;
    text-align: center;
}
p{
    text-align: center;
    background-color: rebeccapurple;
    color: honeydew;
}